<body>
  <div class="page-container">
    
    <main class="content">
    </main>

  <footer class="site-footer">
  <div class="footer-box">

    <div class="footer-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>

    <div class="footer-brand">
      © WanderLust Private Limited
    </div>

    <div class="footer-links">
      <a href="/privacy">Privacy</a>
      <span>|</span>
      <a href="/terms">Terms</a>
    </div>

  </div>
</footer>


  </div>
</footer>


  </div>
</body>
